/* Font styles. */
/* line 2, ../sass/style.sass */


body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Myriadpro Regular", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
  /* background: #fafafa; */
}

a {
text-decoration:none;
color: #006FB9;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr.even, tr.odd {
    background-color: #ffffff;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}

td {
padding:5px 0px;	
}

ul.menu {
    border: medium none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#box-recomana ul {
   list-style: none outside none;
    margin: 0;
    padding: 0;
}

#box-recomana li {
border-bottom: 1px solid #CCCCCC;
    font-size: 12px;
    list-style: none outside none;
    margin: 0;
    padding-bottom: 9px;
    padding-top: 11px;
    width: 91%;
}

.infoadicional span.telefon {
background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/phone_2.png") left center no-repeat;
padding-left:24px;
font-size:11px;
color: #333;
}

.infoadicional span.mail {
background: url("http://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/mail.png") left center no-repeat;
padding-left:24px;
font-size:11px;
color: #333;
}

.infoadicional span.needhelp {
clear: both;
    color: #777777;
    float: left;
    font-weight: bold;
    padding: 7px 0 6px;
    width: 100%;
}

.donations {
    border-top: 1px solid #CCCCCC;
    color: #333333;
    line-height: 16px;
    margin-top: 8px;
    padding-top: 15px;
    width: 90%;
}

.donations span.donations-text {
font-size:11px;
}

.donations a {
	
color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
    border-radius: 5px 5px 5px 5px;
color: #faddde;
	border: solid 1px #980c10;
    float: left;
    margin-top: 15px;
    padding: 3px 7px;	
}

.donations a:hover {
background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}

.donations a:active {
color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

h1 {
    color: #333333;
    font-size: 18px;
}


/* FORMS */



/* HEADER REGION */

#topbar {
    background: none repeat scroll 0 0 #444444;
    clear: both;
    float: left;
    height: 5px;
    width: 100%;
}

#headermenu {
    background: url("http://ecoaltcongost.org/sites/all/themes/basic/css/images/bg.png") repeat scroll 0 0 transparent;
    clear: both;
    height: 60px;
    width: 100%;
}

.page-troquescola #headermenu, .page-curs-troquescola #headermenu, .node-type-curs #headermenu, .page-node-491 #headermenu, .page-node-490 #headermenu, .page-node-489 #headermenu {
    background: url("http://mercat.ecoaltcongost.org/sites/all/themes/basic/css/images/troquescolabg.png") repeat scroll 0 0 transparent;
    clear: both;
    height: 60px;
    width: 100%;
}

#headermenu a {
color: #fff;	
}

#headermenu .header-menu-inner {
width:900px;
margin:0px auto;
}

#headermenu #logo {
    float: left;
}

span.logotroquescola {
    float: right;
    padding-left: 12px;
    padding-top: 10px;
}

#headermenu #menu-usuari {
    float: right;
    width: 475px;
}

#headermenu #credits-user {
    -moz-border-radius: 0 0 10px 10px;
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 0;
    margin-top: 0;
    padding: 10px 0 25px;
    text-align: center;
    width: 100px;
    border-radius: 0 0 10px 10px;
}

#headermenu #id-user {
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: -4px;
    margin-top: 9px;
    text-transform: uppercase;
    text-align:right;
    margin-right:113px;
}

#options-user {
float: right;
    margin-right: 3px;
    margin-top: -7px;
}

#options-user li{
    color: #FFFFFF;
    margin: 0 !important;
    padding: 0 10px 0 0 !important;
}

.om-maximenu.om-maximenu-block ul.om-menu li.om-leaf .om-link {
padding:0;
margin:0;
}


.om-maximenu .om-maximenu-content .block {
    float: left;
    position: relative;
}

#headermenu ul.menu li{
    list-style: none outside none;
    margin: 0;
    padding: 0px 7px 0px 0px;	
}

#header_message ul.menu li {
    font-size: 14px;
    list-style: none outside none;
    margin: 3px 0 0;
    padding: 0 10px 0 0;	
}

#headermenu li {
    float: left;
    padding: 0 5px;
}

#header_message li {
    float: left;
    padding: 0 5px;
}

.avatar {
    float: left;
    width: 45px;
}


#headermenu .headerbalance {
    background: none repeat scroll 0 0 #6091B2;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
    padding: 5px 0;
    text-align: center;
    width: 90px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius:5px;
}

#header_message {
    background: #fbfbfb;
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    float: left;
    height: 35px;
    margin: 0;
    width: 100%;
}

#header_message_inner {
    line-height: 5px;
    margin: 0 auto;
    padding: 13px 0 0;
    width: 900px;
    color: #555;
    text-align:center;
}

.not-logged-in #header_message_inner {
	margin: auto;
}

#botoaccedeix {
color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
    float: right;
    font-size: 12px;
    padding: 3px 0 3px;
    text-align: center;
    width: 140px;
    margin-top:15px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
        -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
        -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#botoaccedeix:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

#botoaccedeix:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');	
}


#header_message a {
border-right: 1px solid #DDDDDD;
    color: #555555;
    font-weight: bold;
    padding-right: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

#header_message_interior {
    background: url(images/bgheader.jpg) repeat-x #F3F3F3;
    clear: both;
    float: left;
    height: 60px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
}

#header_message_inner p {
}

#header_message_inner a {
}

.om-maximenu-content li {
float:none !important;	
}

.om-maximenu-content a {
color: #444 !important;	
}

.om-maximenu-content .block-menu-id-menu-afegir-anunci {
float:left;
width:50%;
}

.om-maximenu-content .block-menu-id-menu-afegir-demanda {
float:left;
width:50%;
}

.om-maximenu .om-maximenu-open {
    bottom: -10px;
    display: none;
    font-size: 9px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    right: 0;
}

.om-maximenu .om-maximenu-middle-right {
    padding: 10px 20px;
}

.om-maximenu h3 {
margin:3px 0px;
}

#messages {
float:left;
width:100%;
clear:both;
}

.messages_inner {
width:950px;
margin:0px auto;
}

#box-front {
background: url("/sites/all/themes/basic/css/images/bgblau.png") repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    height: 127px;
    margin: 1px 0;
    padding: 0;
    width: 100%;
}

.page-troquescola #box-front {
    background: url("http://mercat.ecoaltcongost.org/sites/all/themes/basic/css/images/troquescolabg.png") repeat scroll 0 0 transparent;
    height: 150px;
}

#box-front-width {
background: none repeat scroll 0 0 #FFFFFF;
    height: 127px;
    margin: 0 auto;
    text-align: center;
    width: 900px;
}


.box-front-inner {
}


/* HEADER INTERIOR */

h2.interior {
float:left !important;	
}


#preu {
    -moz-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #F3F3F3;
    color: #333333;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 2px 22px;
}

#preu .preu-inner {
padding: 15px;
}

#categoria {
    float: right;
    margin: 20px 0;
}

#categoria .categoria-inner a{
padding:3px;	
}



/* MENU PRIMARY */

li.menu-1239, li.menu-1240, li.menu-1241 {
    border-right: 1px solid #EEEEEE;
    padding-left: 10px;
}

li.menu-246 {
    border-right: 1px solid #EEEEEE;	
}

/* MAIN CONTENT */

#main-content {
float:left;
width:100%;
clear:both;
margin-top:30px;
}

#main-content-inner {
width:900px;
margin:0px auto;
}

.main-inner {
padding-right:10px;	
}

.no-padding-right {
padding-right:0px !important;	
}

.main-inner h2, #sidebar h2, #main-top h2 {
    color: #555555;
    font-size: 15px;
    line-height: 15px;
    margin: 0 0 10px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight:bold;
}

#sidebar h2 {

}

#description-ad h2 {
font-size:18px;	
}

#main-top, #main-bottom {
width:100%;
float:left;
clear:both;
}

#main-left {
float:left;
width:675px;
}


#main-left .quick-tabs {

}

.quicktabs-tabs li{

}
.quicktabs-tabs li:hover{

}

.quicktabs-tabs ul{

}

#main-left .item-list ul {

}

ul.quicktabs-tabs.quicktabs-style-zen li a {
    border-width: 0;
    display: block;
    font: 13px/137% arial;
    margin: 0;
    padding: 5px 17px 0 12px;
text-decoration: none; }

.front #main-right {
background: none repeat scroll 0 0 #FDFDFD;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 5px #CCCCCC;
    float: left;
    height: 466px;
    padding-left: 10px;
    width: 215px;
}   

.page-troquescola #main-right {
background: none repeat scroll 0 0 #FDFDFD;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 5px #CCCCCC;
    float: left;
    height: 466px;
    padding-left: 10px;
    width: 215px;
}   

.front #main-right h2 {
    border-bottom: 1px solid #CCCCCC;
    margin-left: -10px;
    margin-top: 28px;
    padding: 0 0 4px 9px;
}

.page-troquescola #main-right h2 {
    border-bottom: 1px solid #CCCCCC;
    margin-left: -10px;
    margin-top: 28px;
    padding: 0 0 4px 9px;
}

#main-right {
float:left;
width: 225px;
}

#main-right .twtr-hd, #main-right .twtr-ft {
display:none;	
}

#main-right .fbConnectWidgetFooter {
background-color: #fff !important;	
}

#main-right .twtr-widget .twtr-tweet-wrap {
    overflow: hidden;
    padding: 5px 0 !important;
}

#main-bottom {
    clear: both;
    float: left;
    margin-top: 20px;
    width: 100%;	
}

#main-bottom-left {
width:380px;
float:left;
}

#main-bottom-middle {
width:190px;
float:left;
height:100px;
}

#main-bottom-right {
width:380px;
float:left;
height:100px;
}

#sidebar {
    float: left;
    margin-top: 15px;
    padding-right: 10px;
    width: 225px;
}

#sidebar .sidebar-inner {
padding: 0 50px 0 3px;	
}


#content {
    float: left;
    width: 665px;
    margin-top: -13px;
}


/* PRE FOOTER */

#pre-footer {
width:100%;
clear:both;
float:left;
margin-top:20px;
}

#pre-footer-top {
    margin: 20px auto 0;
    width: 900px;
}

#pre-footer-bottom {
margin:0px auto;
width:950px;
font-size:14px;
}

#separador {
height:20px;
float:left;
clear:both;
width:100%;
}

#column-footer {
width:180px;
float:left;
}

#column-footer ul {
list-style:none;	
margin: 0;
padding: 0;
font-size:11px;
}


/* FOOTER */

#footer {
    background: none repeat scroll 0 0 #444444;
    clear: both;
    float: left;
    margin: 20px 0 0;
    padding: 15px 0;
    width: 100%;
    box-shadow: 1px 1px 8px #222222;
    -moz-box-shadow: 1px 1px 8px #222222;
    -webkit-box-shadow: 1px 1px 8px #222222;
}

#footer-inner li {
list-style:none;
display:inline;
margin:0px 10px;
}

#footer-inner {
text-align:center;
font-size:10px;
}

/* Container Items */

#container-items {
float:left;
width:100%;
/*background: url("../images/loader.gif") no-repeat center center #fff;*/
}

#container {
width:100%;
height:80px;
margin: 0 0 0px;
border-bottom:1px solid #eee;
border-top:1px solid #fff;
}

div#container a {

}

.view-ofertes-productes div#container a {

}


.views-row-first #container {
border-top:none !important;	
}

.page-troquescola .views-row-first #container {
    border-top: 1px solid #EEEEEE !important;
}

#container span.tipus-lloguer {
    background: none repeat scroll 0 0 #82D86C;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    margin-right: 5px;
    margin-top: -3px;
    padding: 4px 6px 2px;
    text-align: center;
    width: 40px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius:6px;
}

#container span.tipus-lloguer {
    background: none repeat scroll 0 0 #82D86C;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 0;
    padding: 2px 4px;
    text-align: center;
    width: 56px;
}

#container span.tipus-places {
background: url("http://mercat.ecoaltcongost.org/sites/all/themes/basic/css/images/troquescolabg.png") repeat scroll 0 0 transparent;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 0;
    padding: 0 7px;
    text-align: center;
    width: 60px;
}


.view-valoracions-usuari #container {
    background: none repeat scroll 0 0 #FBFBFB;
    border-bottom: 1px solid #EEEEEE;
    float: left;
    height: auto;
    margin: 0 0 1px;
    padding: 0 0 20px;
    width: 100%;
}

#container a {
color: #555;	
}

#container:hover {
background: #f7f7f7;
}

.view-demandes #container:hover {
background: #f7f7f7;
cursor: auto !important;
}

.container-inner {
padding:30px 0px;
color: #444;
}

.page-troquescola .container-inner {
    color: #444444;
    padding: 20px 0;
}

/***/  /****/


#container-grid {
background-color: #FBFBFB;
    border-color: #FFFFFF #EEEEEE #DDDDDD #FFFFFF;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 320px;
    margin: 0;
    padding-top: 15px;
    width: 219.6px;
}

.container-inner-grid {
padding:10px;	
}

#container-grid div.tipus-lloguer {
    background: none repeat scroll 0 0 #82D86C;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    left: 2px;
    margin-left: -10px;
    margin-top: -10px;
    padding: 2px 5px;
    position: relative;
    text-align: center;
    top: 4px;
    width: 40px;
    
}

#container-grid div.tipus-lloguer {
    background: none repeat scroll 0 0 #82D86C;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    left: 2px;
    margin-left: -10px;
    margin-top: -10px;
    padding: 2px 5px;
    position: relative;
    text-align: center;
    top: 4px;
    width: 40px;
    
}

#container-grid div.tipus-venda {
    background: none repeat scroll 0 0 #85ADD1;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    left: 2px;
    margin-left: -10px;
    margin-top: -14px;
    padding: 2px 5px;
    position: relative;
    text-align: center;
    top: 10px;
    width: 40px;
}

#container-grid div.tipus-discount {
    background: none repeat scroll 0 0 #b22222;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    left: 2px;
    margin-left: -10px;
    margin-top: -14px;
    padding: 2px 5px;
    position: relative;
    text-align: center;
    top: 10px;
    width: 40px;
}

#container-grid div.tipus-ecogest {
    background: none repeat scroll 0 0 #2E8B57;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    left: 2px;
    margin-left: -10px;
    margin-top: -14px;
    padding: 2px 5px;
    position: relative;
    text-align: center;
    top: 10px;
    width: 65px;
}



#titol-item-grid {
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    margin: 25px 0 0;
    text-align: center;
}

#titol-item-grid a {
    color: #444444;
    text-shadow: 0 1px 0 #FFFFFF;
}

#photo-item-grid {
    background: url("/sites/default/files/styles/imatges_anuncis/public/default_images/no_image.gif") no-repeat scroll center center #FFFFFF;
    height: 120px;
    width: 200px;
}

#photo-item-grid:hover {
    background: url("/sites/default/files/styles/imatges_anuncis/public/default_images/no_image.gif") no-repeat scroll center center #FFFFFF;
    height: 120px;
    width: 200px;
}

#photo-item-grid img {
box-shadow: 4px 1px 5px #999;
-moz-box-shadow: 4px 1px 5px #999;
-webkit-box-shadow: 4px 1px 5px #999;    
height: 120px;
margin-top: -10px;
width: 200px;
}

#price-item-grid {
background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 15px 0 15px 0;
    -moz-border-radius: 15px 0 15px 0;
    -webkit-border-radius: 15px 0 15px 0;
    color: #777777;
    float: left;
    font-size: 14px;
    margin: 5px 0 20px -10px;
    padding: 10px 11px 5px;
    text-align: center;
    width: 197px;
}

#price-item-grid .percentatge {     
    color: #666666;
    float: right;
    font-size: 14px;
    line-height: 19px !important;
    padding-left: 5px;
}
    
#member-item-grid {
float:left;
width:100%;
clear:both;
}

.member-item-photo {
float:left;
margin-right:5px;
}

.member-item-name-grid {
    color: #444444;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    margin-top:4px;
}

.member-item-location-grid {
    background: url("../images/marker.png") no-repeat scroll 42px top transparent;
    color: #444444;
    font-size: 10px;
    line-height: 17px;
    padding-bottom: 11px;
    padding-left: 60px;
    text-shadow: 0 1px 0 #FFFFFF;
}


.view-header img{
vertical-align:middle;
margin-right:4px;
}

.view-header {
margin:5px 0px;	

}

.view-header a {
    padding: 5px;
}

.demandes .container-inner {
padding:0;	
}

.demandes #titol-item {
padding-top: 3px;	
}

.demandes #member-item {
float:right !important; 
    width: 177px;
}

.demandes .descripcio {
    color: #555555;
    float: left;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 4px;
    width: 65%;
}

.view-id-demandes #container {
    border-bottom: 1px solid #EEEEEE;
    height: 150px;
    margin: 0 0 1px;
    padding-top: 10px;
    width: 100%;
}

#titol-item {
    color: #444444;
    float: left;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 3px;
    width: 342px;
}

.page-comunitat-membres #titol-item img{
width:16px;
vertical-align: text-top;
}

#comment-item {
    color: #444444;
    float: left;
    padding-left: 3px;
    padding-right: 12px;
    width: 473px;
}


#price-item {
float:left;	
width:92px;
padding-right:3px;
}

.percentatge {
    color: #666666;
    float: none;
    font-size: 10px;
    line-height: 10px;
}


#photo-item {
    float: left;
    height: 16px;
    padding-right: 3px;
    width: 40px;
}

.view-ofertes-compartir-cotxe #photo-item {
    float: left;
    height: 16px;
    padding-right: 3px;
    width: 92px;
}

#photo-item img{
margin-top: -5px;	
}

#member-item {
    float: left;
    margin-top: -11px;
    width: 155px;
}

.page-troquescola #member-item {
margin:0px;	
}



#member-item .member-item-photo {
    background: none repeat scroll 0 0 #CCCCCC;
    float: left;
    height: 40px;
    margin-right: 5px;
    width: 40px;
}


#member-item .member-item-photo img{
	width:40px;
	height:40px;
}

#member-item .member-item-name {
color: #444444;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    margin-bottom: 3px;
}

.page-troquescola #member-item .member-item-name {
    color: #444444;
    font-size: 11px;
    font-style: italic;
    font-weight:normal;
}

#price-item {
    color: #555555;
    height: 15px;
    text-align: center;
    width: 105px;
}

#member-item .member-item-location {
    background: url("../images/marker.png") no-repeat scroll 42px top transparent;
    color: #444444;
    font-size: 11px;
    line-height: 11px;
    padding-bottom: 10px;
    padding-left: 57px;
}

.view-autor-anunci .member-item-location {
  background: url("../images/marker.png") no-repeat scroll left 0 transparent;
    clear: both;
    color: #444444;
    float: left;
    font-size: 11px;
    margin-top: 11px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
}

span.location {
    background: url("../images/marker.png") no-repeat scroll left center transparent;
padding-left:20px;
}

.views-exposed-widgets {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding: 0 0 10px 10px;
    border-radius:7px;
}

#preuanunci {
background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    min-height: 19px;
    padding: 17px 15px;
    width: 280px;
}

.importeco {
font-size:24px;	
font-weight:bold;
color:#333;
margin: 10px 0;
}


.node-type-projecte-ecoaccio .importeco {
    background: none repeat scroll 0 0 #2E8B57;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 5px 3px;
    width: 90px;
}	

.botocomprar {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
    float: right;
    font-size: 12px;
    padding: 3px 0 3px;
    text-align: center;
    width: 140px;
    margin-top:-5px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
        -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
        -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.botocomprar:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

.botocomprar:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');	
}

                                    
.botocomprar a {
color: #fff;
}

#block-views-autor_anunci-block {
background: #fff;
    border: 1px solid #ddd;
    border-radius: 7px 7px 7px 7px;
    color: #444444;
    float: left;
    font-size: 11px;
    padding: 16px 9px 5px;
}

.view-autor-anunci #member-item {
    float: left;
    margin-top: 0px;
    width: 155px;
}

.view-autor-anunci #member-item {
 float: left;
    margin-bottom: 15px;
    margin-top: 0;
    width: 155px;
}

.view-autor-anunci .member-stats {
 background: url("http://cdn1.iconfinder.com/data/icons/realistiK-new/16x16/actions/reload.png") no-repeat scroll left center transparent;
    float: left;
    margin-top: 6px;
    padding-left: 20px;
}

/* CENTER PAGE FRONT */

#centerpage {
    background: none repeat scroll 0 0 #FBFBFB;
    float: left;
    margin: 40px 0;
    padding: 20px;
    width: 96%;
}

#ecogestos-home {
    float: left;
    margin: 5px 0;
    width: 33%;
}


#ecogestos-home img {
    float: left;
    height: 70px;
    margin-right: 8px;
    width: 90px;
}

#ecogestos-home-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 1px 1px 1px #CCCCCC;
    -moz-box-shadow: 1px 1px 1px #CCCCCC;
    -webkit-box-shadow: 1px 1px 1px #CCCCCC;
    height: 70px;
    margin: 5px;
    padding: 19px;
}

#ecogestos-home-caption {
    float: left;
    width: 139px;
}

#ecogestos-home-caption a {
color: #444;	
}

.ecogestos-home-ecos {
    background: none repeat scroll 0 0 green;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    margin-top: 4px;
    padding: 3px;
}

#block-views-ecogestos_home-block h2 {
    background: none repeat scroll 0 0 #DDDDDD;
    left: -27px;
    padding: 6px 6px 6px 19px;
    position: relative;
    width: 140px;
}

#block-views-ecogestos_home-block .view-header {
    color: #444444;
    float: left;
    padding-left: 5px;
    width: 100%;
}

.view-promo-front td {
    vertical-align: top;
    width: 190px;
}

.view-promo-front a {
font-size:11px;
color: #b22222;
}

.view-promo-front li {
list-style:none;
padding:0px 0px 0px 5px;
margin: 1px 0 -5px !important;
}

#columna-llistat {
float:left;
width:225px;
}

.columna-llistat-inner {
padding:10px;
}

#centerpage .menus-front{

}

#menucenterpage {
width:900px;
margin:auto;
}


#menucenterpage h2 {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    line-height: 15px;
    margin: 0 0 10px;
    text-shadow: 1px 0 1px #222222;
    text-transform: lowercase;
}

#menucenterpage a {
    color: #FBFBFB;
    text-decoration: none;	
}

.columna-llistat-inner .item-list ul li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.columna-llistat-inner ul li {
    list-style: none outside none;
    margin: 0 !important;
    padding: 0 !important;
}

/* NEWS FRONT */

#news-front {
background: #fcfcfc;	
float:left;
}

#news-container {
    float: left;
    padding: 4px 3px 3px 2px;
    width: 180px;
}

#news-container img {
	width:180px;
	height:85px;
}

#news-container h3{
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 3px;
}

#news-container p{
    color: #999999;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
}

/* AGENDA FRONT */

#agenda-front {
float:left;
width:100%;
clear:both;
}

#agenda-container {
float:left;
clear:both;
width:100%;
}

#calendari {
    border: 1px solid #EEEEEE;
    float: left;
    margin-right: 5px;
    width: 30px;
}

#calendari .mes {
    background: none repeat scroll 0 0 #eee;
    color: #444444;
    font-size: 10px;
    font-weight: bold;
    height: 18px;
    text-align: center;
}

#calendari .dia {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #444444;
    font-size: 10px;
    height: 18px;
    text-align: center;
}

#agenda-container {
border-bottom:1px solid #ccc;
padding:7px 0px;
}

#agenda-container h3 {
font-size:11px;
    font-weight: bold;
    line-height: 14px;
    margin:0;
}

#agenda-container p {
    color: #999999;
    font-size: 11px;
    line-height: 14px;
    margin: 0;	
}

.tornada {
width:25px;
height:24px;
background: url("http://cdn1.iconfinder.com/data/icons/TWG_Retina_Icons/24/arrow_circle_left.png") no-repeat center center;
}

.anada {
width:25px;
height:24px;
background: url("http://cdn3.iconfinder.com/data/icons/minimal/24x24/actions/go-next.png	") no-repeat center center;
}

span.additional_title {
font-size:10px;
color: #999;
font-weight:normal;
}
.compartircotxe #titol-item {
    color: #444444;
    float: left;
    font-weight: bold;
    margin-top: -6px;
    padding-left: 10px;
    padding-right: 3px;
    width: 292px;
}

/* DESTAQUEM FRONT */

#destaquem-container {
    background: url("http://transitionculture.org/wp-content/uploads/brixtonpound4.jpg") no-repeat scroll -58px -148px #EEEEEE;
    height: 172px;
}

/* NODE ANUNCI */

#anunci-right {
float:right;
width:40%;
}

#anunci-left {
float:left;
width:55%;
}

#image-ad, #trajecte-ad{
    float: right;
    padding: 10px;
    background: url("/sites/default/files/styles/imatges_anuncis/public/default_images/no_image.gif") no-repeat center #fff;
}

#trajecte-info {
border-top: 1px solid #EEEEEE;
    margin-top: 8px;
    padding: 8px 0px 8px 64px;
    background: url("http://cdn1.iconfinder.com/data/icons/Symbolicons_Transportation/49/Car.png") no-repeat left center;
    width:305px;
}

#trajecte-info .field-name-field-taxonomy-daystraject .field-item {
 background: url("http://cdn1.iconfinder.com/data/icons/diagona/icon/10/102.png") no-repeat scroll left center transparent;
    float: left;
    margin-right: 7px;
    padding-left: 15px;
}

#description-ad {
    color: #222;
    width: 400px;
}

#filariadna-ad {
font-style:italic;
}

#author-box {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #EEEEEE;
    clear: both;
    float: left;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
}

#author-ad {
    clear: both;
    float: left;
    width: 50%;
}



#author-ad .member-item-name {
margin-bottom:3px;	
color: #444;
}

#author-contacte {
float:right;
width:50%;
}

.telefon {
    background: url("http://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/phone_2.png") no-repeat scroll 17px 3px transparent;
    font-size: 17px;
    margin-bottom: 11px;
    padding-left: 20px;
    text-align: center;
}

.profile-telefon {
    background: url("http://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/phone_2.png") no-repeat scroll left center transparent;
    float: left;
    font-size: 13px;
    margin-top: 7px;
    padding-left: 20px;
    text-align: center;
}

.view-autor-anunci .member-count {
 background: url("http://cdn4.iconfinder.com/data/icons/Boolean/Signage/OK.png") no-repeat scroll left center transparent;
    float: left;
    padding-left: 20px;
}


.referencia {
font-size:11px;
color: #888;
font-style:italic;
}

#member-offer {
clear: both;
    float: left;
    margin: 10px 0;
    width: 200px;
}

#trajecte-ad .left {
    margin-right: 9px;
    width: 180px;
}

.views-field-privatemsg-link {
    float: left;
    margin: 10px 0;	
}

.views-field-privatemsg-link a{
	padding:3px 10px;
	background: #00B75B;
	color: #fff;
	width: 100px;
}

.views-field-privatemsg-link a:hover{
	background: #00B737;
}

.view-demandes .views-field-privatemsg-link {
    float: right;
    margin: -71px 57px 0 0;
}

.pay {
float:left;
width:180px;
}

.pay a {
    background: none repeat scroll 0 0 orange;
    color: #FFFFFF;
    float: left;
    padding: 1px 10px;
    text-align: center;
    width: 100px;	
}

#created-ad {
    color: #888888;
    font-size: 11px;
    margin: 5px 0;
}

#barra-footer {
height:20px;
background: url("http://ecoaltcongost.org/sites/all/themes/basic/css/images/bg.png") repeat scroll 0 0 transparent;
float:left;
width:100%;
clear:both;
margin:0;
padding:0;
}

/* NODE TRAJECTE */

.infotrajecte {
width:225px;
float:left;
}

.infotrajecte .left {
padding-right:2px;	
}



/* EXPOSED FILTERS */

.views-exposed-widgets .form-select, .views-exposed-widgets .form-text{
width: 160px;
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #EEEEEE;
    height: 30px !important;
    padding: 4px;
}



.views-submit-button .view-comunitat .views-exposed-form .form-item, .views-exposed-form .views-submit-button .form-submit {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
cursor: pointer;
    margin-top: 25px;
    padding: 4px 20px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.views-submit-button .view-comunitat .views-exposed-form .form-item, .views-exposed-form .views-submit-button .form-submit:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}

.views-submit-button .view-comunitat .views-exposed-form .form-item, .views-exposed-form .views-submit-button .form-submit:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');

}

.views-exposed-form label {
    color: #444444;
    font-size: 10px;
    text-transform: uppercase;
}

.views-exposed-form .form-item input {
height:16px;	
}

html.js input.form-autocomplete {
    background-image: url("/misc/throbber.gif");
    background-position: 100% 6px;
    background-repeat: no-repeat;
}


/* MENUS */

#sidebar ul {
padding:0;	
}

#sidebar li {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #FFFFFF;
    display: block;
    list-style: none outside none;
    margin-left: 0;
    padding: 3px 0;
}

#sidebar li.first {
	    border-top: none !important;
}
#sidebar li.last {
	    border-bottom: none !important;
}

/* EDIT PROFILE FORM */

#edit-locale, #edit-timezone {
display:none;	
}

.button-recomanar {
float:left;	
}

.button-recomanar a.flag-action {
    background: url("/sites/all/themes/basic/images/nook.png") no-repeat scroll left center transparent;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 20px;
}

.button-recomanar a.unflag-action {
background: url("/sites/all/themes/basic/images/ok.png") no-repeat scroll left center transparent;
    color: #999999;
    font-style: italic;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 20px;
}

.membres-recomanar {
float:left;
margin-bottom:20px;
}

.membres-recomanar .view-recomanacions-membre ul {
margin:0;	
}

.membres-recomanar .view-recomanacions-membre li {
float:left;
list-style:none;
margin-right:4px;
padding:0;
}


.button-recomanar .view-display-id-block_1 ul{
color: #50CD18;
    font-weight: bold;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    float:right;
}

/* TABS */

a#quicktabs-tab-perfil-3 {
padding-left:20px;

}

a#quicktabs-tab-perfil-2 {
padding-left:20px;

}

a#quicktabs-tab-perfil-2 .active{
font-weight:normal;
}



/* COMMENTS */

#comments .comment {
margin-bottom:20px;
margin-top:20px;
padding:10px;
background: #fbfbfb;
}

.comment-inner .field-label {
display:none;	
}

.autorcomment {
font-size:10px;
color: #666;
text-transform:italic;
}

.view-valoracions-usuari .view-header a {
 background-color: #DDDDDD;
    color: #444444;
    float: left;
    margin: 0 0 10px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 655px;
}

/* Transaccions */

.view-transaccions caption {
    color: #777777;
    margin:10px 0px;
}

.view-transaccions td {
width:110px;	
border-right:1px solid #fbfbfb;
padding-right:3px;
padding-left:3px;
}

/* FORMS */

#content-add {
background: #fff url("http://ecoalt.ixl01068.ixl.es/sites/all/themes/basic/css/images/bgdirectori.png") repeat;	
float:left;
clear:both;
width:900px;
margin:15px 0px;
}

.content-form {
padding:60px;
}

.content-form .form-item input, .content-form .form-item select, .content-form .form-item textarea {
	padding:5px 0px;
	font-size:16px;
}

.content-form #edit-field-image-und-0-upload-button input {
width:200px;	
}

.page-node-add fieldset.collapsible {
    border: none;
    position: relative;
}

.page-node-add fieldset.collapsible legend {
display:none;
}

.page-node-add fieldset {
    margin-bottom: 1em;
    padding: 0;
    margin:0;
}

.page-node-add .container-inline-date > .form-item {
border:none;	
}

fieldset#edit-scheduler-settings {
 background: none repeat scroll 0 0 #EEEEEE;
    padding: 15px;	
}

#content-add h2 {
font-size:20px;	
}
                          
.field-name-field-oferta-tipus {
margin-right:4px;
}

span.lloguer {
    background: none repeat scroll 0 0 #82D86C;
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    margin-right: 5px;
    margin-top: -4px;
    padding: 3px 4px 3px 7px;
    text-align: center;
    width: 45px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius:6px;
    text-shadow:none;
}

span.tipus-venda {
    background: none repeat scroll 0 0 #85ADD1;
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    margin-right: 5px;
    margin-top: -3px;
    padding: 3px 4px 3px 7px;
    text-align: center;
    width: 45px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius:6px;	
    text-shadow:none;
}

/* TOBOGGAN */

#toboggan-right {
    float: right;
    width: 450px;
}

#content-toboggan {
    -moz-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DDDDDD;
    float: left;
    height: 379px;
    padding: 10px;
    width: 380px;
}

#content-toboggan .form-type-textfield input {
font-weight:bold;
}

#content-toboggan .form-type-textfield input, #content-toboggan .form-type-password input {
    border: 1px solid #999999;
    font-size: 14px;
    margin: 5px 0;
    padding: 5px 0;
    width: 300px;
}

.mobile-toboggan {
    -moz-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #EEEEEE;
    font-size: 16px;
    margin: 10px 0;
    padding: 20px 20px 0;
}

.mobile-toboggan img {
float:left;
margin-right:10px;
width:100px;
}

li.thick {
    background: url("http://cdn1.iconfinder.com/data/icons/icojoy/noshadow/standart/gif/24x24/001_06.gif") no-repeat scroll left center transparent;
    color: #333333;
    font-size: 14px;
    list-style: none outside none;
    margin: 0;
    padding: 8px 30px;	
}

li.euro {
    background: url("http://cdn2.iconfinder.com/data/icons/Siena/24/currency_euro%20red.png") no-repeat scroll left center transparent;
    color: #333333;
    font-size: 14px;
    list-style: none outside none;
    margin: 0;
    padding: 8px 30px;	
}

#toboggan-right ul{
    margin: 10px 5px;
    padding: 0;
}

/** COMENTARIS **/

#comentaris {
width:400px;	
}

#comments {
    margin-top: 25px;
    margin:25px 0px;
}

#comments h2 {
border-bottom:1px solid #ccc;	
}

#comments .filter-wrapper {
    border-top: 0 none;
    display: none;
    margin: 0;
    padding: 1.5em 0;
}

#comments .comment {
    background: none repeat scroll 0 0 #FBFBFB;
    border-top: 1px solid #EEEEEE;
    color: #333333;
    font-size: 12px;
    font-style: italic;
    padding: 10px;
}

/* PERFIL */

.view-id-mevesdades ul {
padding:0;
margin:0;
}

.view-id-mevesdades li {
    list-style: none outside none;
    margin: 10px 0;
    padding: 10px 0;
}

.view-id-mevesdades .views-field {
padding-right:10px;	
}

.view-id-mevesdades .descripcioconeixements {
font-size:12px;
color: #444;
}

.view-valoracions-usuari #photo-item {    
    float: left;
    height: 16px;
    padding-right: 3px;
    width: 110px;
}

.view-valoracions-usuari #member-item {
    float: right;
    margin-top: 0;
    width: 174px;
}

#container-valoracions {
background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    margin-bottom: 15px;
    padding: 10px 0;
}

#container-valoracions .container-inner {
padding:0;
margin:0;
}

#container-valoracions #comment-item {
   color: #444444;
    float: left;
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    padding-left: 3px;
    padding-right: 12px;
    width: 454px;
}

/* TABS EDICIO PERFIL */

#edit-field-coneixements-coll {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #999999;
    float: left;
    margin: 15px 0;
    padding: 15px;
    width: 96%;
}

.field-group-format.group_dadespersonals {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #999999;
    float: left;
    margin: 15px 0;
    padding: 15px;
    width: 96%;
}

.field-group-format.group_account {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #999999;
    float: left;
    margin: 15px 0;
    padding: 15px;
    width: 96%;
}


/* OPERACIONS */

.page-pagar select#edit-2ndperson, .page-cobrar select#edit-2ndperson  {
width:130px;	
margin-bottom:10px;
}

.page-pagar select#edit-direction, .page-cobrar select#edit-direction, .page-pagamentassociacio select#edit-direction{
display:none;	
}

.page-pagar input#edit-worth-und-0-division, .page-cobrar input#edit-worth-und-0-division {
width:20px;	
}

.page-pagar input#edit-worth-und-0-quantity, .page-cobrar input#edit-worth-und-0-quantity {
width:40px;	
}

.page-pagar input#edit-submit, .page-cobrar input#edit-submit {
margin-top:0;	
}

.page-pagar .form-item, .page-pagar .form-actions, .page-cobrar .form-item, .page-cobrar .form-actions {
margin: 0;
padding:0;
}

.eco {
float:left;	
}

.coma {
float:left;	
}

/* PERFIL */

/* PERFIL */

.profile h3 {
    border-bottom: 1px solid #CCCCCC;
    color: #666666;
    font-weight: bold;
}

#recomanacions-perfil {
margin:10px 0px;
}

#buttons-profile {
float:left;
width:100%;
clear:both;
margin:10px 0px;
}

.buttons-profile-div-1 {
float:left;
width:170px;
}

.buttons-profile-div-2 {
float:left;
width:150px;	
}

.buttons-profile-div-3 {
float: left;
width: 130px;
}

.buttons-profile-div-4 {
float: left;
width: 250px;
}

.buttons-profile-div-inner {
padding:0px 5px 0px 0px;	
}

#buttons-profile .profile-saldo {
color:#444;
font-size:20px;
background: url("http://cdn1.iconfinder.com/data/icons/is_beta_accounting/png/24/money.png") no-repeat left center #fff;
padding-left:27px;
}

#buttons-profile .profile-exchanges {
color:#444;
font-size:20px;
background: url("http://cdn2.iconfinder.com/data/icons/Siena/24/refresh%20red.png") no-repeat left center #fff;
padding-left:27px;
}

#buttons-profile .profile-balance {
background: url("http://cdn1.iconfinder.com/data/icons/Keyamoon-IcoMoon--limited/16/meter-medium.png") no-repeat left center #fff;	
padding-left:24px;
font-size:13px;
}

.social-profile {
    float: left;
    margin: 6px 0 14px;
    width: 100%;
}

.social-profile img {
float:left;
margin-right:4px;
}

#block-menu-menu-user-menu a {

background: -moz-linear-gradient(center top , #7DB72F, #4E7D0E) repeat scroll 0 0 transparent;
    border: 1px solid #538312;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #E8F0DE;
    cursor: pointer;
    float: left;
    font-size: 12px;
    padding: 3px 0;
    text-align: center;
    width: 140px;
}

#block-menu-menu-user-menu a:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

#block-menu-menu-user-menu a:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');	
}

#edit-mutual-credit-notifications {
display:none;	
}

#edit-privatemsg {
clear: both;
    float: left;
    position: relative;
    width: 100%;	
}

span.nou {
margin-left:3px;
padding:1px 3px 1px 3px;
background: #bb2222;
color: #fff;
font-size:10px;
}

#buttons-profile .botocomprar {
float:left;	
}

/* Troquescola Curs */

#node-curs {
float:left;
width:100%;
}

#imatge-curs {
float:right;
width:150px;
}

#curs-top {
border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    color: #444444;
    float: left;
    margin-bottom: 15px;
    padding: 15px 10px;
    width: 65%;
}

#dades-curs {
    float: left;
    width: 100%;
}

#dades-curs-data {
background: url("http://cdn5.iconfinder.com/data/icons/customicondesignoffice5/24/calendar-selection-day.png") no-repeat scroll left center transparent;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
}

#signup-curs {
float:left;
clear:both;
width:100%;
}

#lloc-curs {
background: url("http://mc.zumzum.org/sites/all/themes/basic/images/marker.png	") no-repeat scroll left center transparent;
padding-left:24px;
}

span.places-maxim {
float: left;
    font-size: 10px;
    margin: auto;
    text-align: center;
    width: 150px;
}

span.places-curs {
border-radius: 4px 4px 4px 4px;
    color: #666666;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 7px;
    text-align: center;
    width: 136px;
}

#descripcio-curs {
width:68%;
float:left;
margin-bottom:15px;
}

#troc-curs {
background: url("http://cdn5.iconfinder.com/data/icons/iconsweets2/40/arrows_refresh.png") no-repeat scroll left 5px #EEEEEE;
    border: 1px solid #EEEEEE;
    float: left;
    padding: 0 10px 10px 50px;
    width: 59%;
}

.registration-link {
width:150px;
float:left;
text-align:center;
font-weight: bold;
background: url("http://mercat.ecoaltcongost.org/sites/all/themes/basic/css/images/troquescolabg.png");
padding:4px 3px;
margin-top:5px;
}

.registration-link a {
color: #fff;	
}

#edit-comment-body h3 {
display:none;	
}

.node-type-curs #comments {
    float: left;
    margin: 25px 0;
    width: 68%;
}

.page-troquescola #content {
width: 73%;	
}

#troquescola-box {
background: none repeat scroll 0 0 #FBFBFB;
    float: left;
    height: 250px;
    margin-right: 3px;
    width: 161px;
    margin-bottom:3px;
}

#troquescola-box-inner {
padding:5px;	
}

#troquescola-box h2 {
margin:10px 0px 3px 0px;	
}

#troquescola-box a {
color: #555;	
}

#troquescola-box-formador {
font-style:italic;
font-size:10px;
color:#666;
}

#troquescola-box-data {
font-size:10px;
color:#444;
}

#troquescola-box-pax {
font-size:10px;
color:#666;
}

.view-cursos-troquescola h3 {
background: none repeat scroll 0 0 #FBFBFB;
    border-radius: 10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    color: #444;
    margin: 10px 0 0;
    padding: 10px 0;
    text-align: center;
}

#share-curs {
padding:30px 0px;
float:left;
width:68%;
}

.page-curs-troquescola caption {
    font-size: 18px;
    margin: 15px 0;
    text-align: left;
}

.preu-curs-ecos {
background: url("http://ecoaltcongost.org/sites/all/themes/basic/css/images/bg.png");
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    position: relative;
    text-align: center;
    top: -56px;
    width: 53px;	
    box-shadow: 0 3px 5px #666666;
    -moz-box-shadow: 0 3px 5px #666666;
    -webkit-box-shadow: 0 3px 5px #666666;
}

#contacte-caixa {
float: right;
width: 145px;	
margin-top:25px;
}

#descripcio-ad {
font-size:12px;
color: #444;
}

.telefon {
background: url("http://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/phone_2.png") no-repeat scroll left center transparent;
    float: right;
    font-size: 17px;
    margin-bottom: 11px;
    padding-left: 20px;
    text-align: right;
}

/* FORUM TOPICS */

.view-menu-categories-forum .views-field-description {
font-size:0.9em;
color: #444;
line-height:1em;
}

#forum-topic {
float:left;
width:100%;
clear:both;
border-bottom:1px solid #eee;
}

#forum-topic-inner {
float: left;
    padding: 12px 0;
    width: 100%;	
}

#forum-topic-left {
float:left;
width:70%;
}


#forum-topic-right {
float:left;
width:30%;
}

.forum-topic-photo {
float:left;
margin-right:5px;
}

.forum-topic-title {
font-size:1.2em;	
}

.forum-topic-author {
font-size:0.9em;
}

.forum-topic-comments {
background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: #666666;
    font-size: 0.9em;
    text-align: center;
    width: 85px;
}

.forum-topic-updated {
padding-top:3px;
font-size:0.9em;
color:#777;
}

#field-slideshow-1-pager a {
    background: none repeat scroll 0 0 #555555;
    color: #EEEEEE;
    margin-right: 5px;
    padding: 3px 7px;
    text-indent: 123px;
}

#total-col {width:100%; clear:both; float:left;}
#total-col img {float:left; margin-right:15px; margin-bottom:15px;}
.two-col {width: 48%;
float: left;
padding: 0px 10px 0px 0px;}
.page-node-1190 #content {width:100%;}


